[Unit]
Description=Consul agent bootstrap
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always

ExecStartPre=-/usr/bin/mkdir -p /opt/consul/data
ExecStartPre=-/usr/bin/wget --retry-connrefused -t 5 -N -P /opt/consul/ https://gist.githubusercontent.com/allen13/5119250acc7bcc6a3c76/raw/c6b63460d20dd5126a10eaa980d78c754678c61f/bootstrap-consul.sh
ExecStartPre=-/usr/bin/chmod +x /opt/consul/bootstrap-consul.sh
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
#Make sure this ip is not there already
ExecStartPre=-etcdctl rm /consul.io/bootstrap/machines/$(cat /etc/machine-id)
ExecStart=/opt/consul/bootstrap-consul.sh
ExecStop=-/usr/bin/docker stop consul
ExecStopPost=-etcdctl rm /consul.io/bootstrap/machines/$(cat /etc/machine-id)

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
