[Unit]
Description=InfluxDB Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill influxdb
ExecStartPre=-/usr/bin/docker rm influxdb
ExecStartPre=/usr/bin/docker pull allen13/influxdb
ExecStart=/usr/bin/docker run -rm --name influxdb -p 8083:8083 -p 8086:8086 -p 8090 -p 8099 allen13/influxdb
ExecStop=/usr/bin/docker stop influxdb

[X-Fleet]
